In [5]:
import pandas as pd

In [6]:
data = {
    "order_id": [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
    "date": ["2023-01-01", "2023-01-02", "2023-01-03", "2023-02-01", "2023-02-10", "2023-03-05", "2023-03-15", "2023-04-01", "2023-05-01", "2023-06-01"],
    "customer_id": [101, 102, 101, 103, 104, 105, 101, 102, 106, 107],
    "product_id": [501, 502, 503, 501, 504, 505, 506, 507, 508, 509],
    "quantity": [2, 1, 1, 3, 2, 5, 2, 4, 3, 2],
    "price": [15.0, 25.0, 45.0, 15.0, 35.0, 10.0, 20.0, 30.0, 25.0, 50.0]
    }

In [7]:
df = pd.DataFrame(data)

In [8]:
df.to_csv('sales_data.csv')